name: CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
      - name: Build with Maven
        run: |
          mvn -f ati2microservicioEureka/pom.xml compile
          mvn -f ati2microservicioGateway/pom.xml compile
          mvn -f demo/pom.xml compile
      - name: Run tests
        run: |
          mvn -f ati2microservicioEureka/pom.xml test
          mvn -f ati2microservicioGateway/pom.xml test
          mvn -f demo/pom.xml test
